name: flutter_application_1
description: BLE Cadence Coach with Optimizer
publish_to: "none"

version: 1.0.51+51

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_blue_plus: ^2.0.2
  path_provider: ^2.0.14
  csv: ^5.1.0
  flutter_lints: ^2.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
