name: physiological_optimiser
description: Physiological Optimiser adaptive training app
version: 1.0.0+59

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.5
  fl_chart: ^0.69.0
  permission_handler: ^11.4.0
  flutter_reactive_ble: ^5.0.2
  vibration: ^1.7.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2

flutter:
  uses-material-design: true
