name: physiological_optimiser
description: Physiological Optimiser workout app with cadence optimizer
version: 1.0.0+20

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.5
  fl_chart: ^0.69.0
  flutter_reactive_ble: ^5.0.2
  permission_handler: ^11.4.0
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  path_provider: ^2.0.15

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2

flutter:
  uses-material-design: true
