name: physiological_optimiser
description: A real-time adaptive physiological optimisation app for running, cycling and training.
version: 1.0.0+77

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.5
  fl_chart: ^0.69.0
  flutter_reactive_ble: ^5.0.2
  permission_handler: ^11.4.0
  vibration: ^1.7.6
  audioplayers: ^5.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2

flutter:
  uses-material-design: true
