name: flutter_application_1
description: Cadence optimizer BLE v1.0.49+49, Codemagic ready
publish_to: 'none'
version: 1.0.49+49

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_blue_plus: ^2.0.2
  path_provider: ^2.0.14

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
