workflows:
  flutter-app:
    name: Build Flutter App
    max_build_duration: 60
    environment:
      flutter: stable

    scripts:
      - name: Install Flutter dependencies
        script: |
          flutter pub get

      - name: Build Android APK
        script: |
          flutter build apk --release

      - name: Build Android AppBundle
        script: |
          flutter build appbundle --release

      - name: Build iOS (no code signing)
        script: |
          flutter build ios --release --no-codesign

    artifacts:
      - build/**/outputs/**/*.apk
      - build/**/outputs/**/*.aab
      - build/ios/ipa/*.ipa
      - build/ios/archive/*.xcarchive
