name: physiological_optimiser
description: Physiological Optimiser adaptive training app
version: 1.0.0+45

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.5
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  fl_chart: ^0.69.0
  path_provider: ^2.0.15
  geolocator: ^10.1.0
  permission_handler: ^11.4.0
  flutter_reactive_ble: ^5.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2
  build_runner: ^2.4.13
  hive_generator: ^2.0.1

flutter:
  uses-material-design: true
